body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #222;
}

nav h2 {
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.page {
  padding: 50px;
}